# Proyecto Final - Python para la Ciencia de Datos

In [1]:
%pip install yfinance plotly requests bs4 pandas lxml html5lib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: yfinance in c:\users\matoo\appdata\roaming\python\python313\site-packages (0.2.65)
Requirement already satisfied: plotly in c:\users\matoo\appdata\roaming\python\python313\site-packages (6.2.0)
Requirement already satisfied: requests in c:\users\matoo\appdata\roaming\python\python313\site-packages (2.32.4)
Requirement already satisfied: bs4 in c:\users\matoo\appdata\roaming\python\python313\site-packages (0.0.2)
Requirement already satisfied: pandas in c:\users\matoo\appdata\roaming\python\python313\site-packages (2.3.1)
Requirement already satisfied: lxml in c:\users\matoo\appdata\roaming\python\python313\site-packages (6.0.0)
Requirement already satisfied: html5lib in c:\users\matoo\appdata\roaming\python\python313\site-packages (1.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (2.3.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (4.3.8)
Requirement already satisfied: pytz>=2022.5 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (3.18.2)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (4.13.4)
Requirement already satisfied: curl_cffi>=0.7 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (0.12.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (6.31.1)
Requirement already satisfied: websockets>=13.0 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from yfinance) (15.0.1)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from plotly) (1.48.1)
Requirement already satisfied: packaging in c:\users\matoo\appdata\roaming\python\python313\site-packages (from plotly) (25.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from requests) (2025.7.14)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.9 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\matoo\appdata\roaming\python\python313\site-packages (from html5lib) (0.5.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.14.1)
Requirement already satisfied: cffi>=1.12.0 in c:\users\matoo\appdata\roaming\python\python313\site-packages (from curl_cffi>=0.7->yfinance) (1.17.1)
Requirement already satisfied: pycparser in c:\users\matoo\appdata\roaming\python\python313\site-packages (from cffi>=1.12.0->curl_cffi>=0.7->yfinance) (2.22)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import yfinance as yf
import pandas as pd
import plotly.graph_objects as go
import requests
from bs4 import BeautifulSoup
from io import StringIO
from plotly.offline import plot

## Pregunta 1 - Extracción de datos bursátiles de Tesla

In [3]:
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

## Pregunta 2 - Extracción de ingresos de Tesla con Web Scraping

In [4]:
url_tesla = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
headers = {"User-Agent": "Mozilla/5.0"}
html_tesla = requests.get(url_tesla, headers=headers).text
tables_tesla = pd.read_html(StringIO(html_tesla))
tesla_revenue = tables_tesla[1]
tesla_revenue.columns = ["Date", "Revenue"]
tesla_revenue = tesla_revenue.dropna()
tesla_revenue.tail()

          Date Revenue
59  2010-09-30     $31
60  2010-06-30     $28
61  2010-03-31     $21
63  2009-09-30     $46
64  2009-06-30     $27

## Pregunta 3 - Extracción de datos bursátiles de GameStop

In [5]:
gme = yf.Ticker("GME")
gme_data = gme.history(period="max")
gme_data.reset_index(inplace=True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

## Pregunta 4 - Extracción de ingresos de GameStop con Web Scraping

In [6]:
url_gme = "https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue"
html_gme = requests.get(url_gme, headers=headers).text
tables_gme = pd.read_html(StringIO(html_gme))
gme_revenue = tables_gme[1]
gme_revenue.columns = ["Date", "Revenue"]
gme_revenue = gme_revenue.dropna()
gme_revenue.tail()

          Date Revenue
61  2010-01-31  $3,524
62  2009-10-31  $1,835
63  2009-07-31  $1,739
64  2009-04-30  $1,981
65  2009-01-31  $3,492

## Función make_graph

In [7]:
def make_graph(stock_data, revenue_data, stock_name):
    try:
        fig = go.Figure()
        fig.add_trace(go.Scatter(x=stock_data['Date'], y=stock_data['Close'], name="Precio"))
        fig.update_layout(title=f"Precio Histórico de {stock_name}", xaxis_title="Fecha", yaxis_title="Precio (USD)")
        fig.show()
    except ValueError:
        filename = f"{stock_name}_dashboard.html"
        plot(fig, filename=filename)
        print(f"Gráfico guardado como {filename}. Ábrelo en tu navegador.")

## Pregunta 5 - Gráfico de Tesla

In [8]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

Gráfico guardado como Tesla_dashboard.html. Ábrelo en tu navegador.

## Pregunta 6 - Gráfico de GameStop

In [9]:
make_graph(gme_data, gme_revenue, 'GameStop')

Gráfico guardado como GameStop_dashboard.html. Ábrelo en tu navegador.